.wrapContent {
        padding: 3vh 10vw;

    .previewImage {
        margin-top: 4vh;
        display: flex;
        flex-wrap: wrap;
    }

    .groupDeliveryPayment {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            // border: 1px solid #009473;
            border-radius: 20px;
            padding: 30px 40px;
            margin-top: 8vh;
         
        }

}

.title {
    font-size: 20px;
}

.btnWhite {
    margin-left: 10px;
    font-size: 12px;
    padding: 10px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
}

.stepProgressBar {
    display: flex;
    margin: 0 0 5vh 0;
}










.selectBox {
        margin-left: 20px;
        position: relative;
        display: inline-block;
        width: 190px;
        font-size: 12px;
        color: black;
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        border: none;
    }
    
    .selectBoxCurrent {
        position: relative;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
    }
    .selectBoxCurrent:focus + .selectBoxList {
        opacity: 1;
        -webkit-animation-name: none;
                        animation-name: none;
    }
    .selectBoxCurrent:focus + .selectBoxList .selectBoxOption {
        cursor: pointer;
    }
    .selectBoxCurrent:focus .select-box__icon {
        -webkit-transform: translateY(-50%) rotate(180deg);
                        transform: translateY(-50%) rotate(180deg);
    }
    .select-box__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
        width: 20px;
        opacity: 0.3;
        transition: 0.2s ease;
    }
    .selectBoxValue {
        display: flex;
    }
    .selectBoxValue svg {
        position: absolute;
        left: 166px;
        top: 13px;
        width: 9px;
        height: 9px;
    }
    .selectBoxInput {
        display: none;
    }
    .selectBoxInput:checked + .selectBoxInputText {
        display: block;
    }
    .selectBoxInputText {
        display: none;
        margin: 3px 5px;
        padding: 7px 10px;
        background-color: #fff;
        border-radius: 5px;
        width: 145px;
    }
    .selectBoxInputText i {
        font-size: 18px;
        padding-right: 10px;
        margin-left: 5px;
    }
    .selectBoxInputText .positionIcon {
        left: 14px;
        top: 7px;
        width: 18px;
        height: 18px;
        margin-left: 5px;
    }
    .selectBoxList {
        z-index: 1;
        margin: 0;
        position: absolute;
        width: 100%;
        padding: 0;
        list-style: none;
        opacity: 0;
        -webkit-animation-name: HideList;
                        animation-name: HideList;
        -webkit-animation-duration: 0.5s;
                        animation-duration: 0.5s;
        -webkit-animation-delay: 0.5s;
                        animation-delay: 0.5s;
        -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
        -webkit-animation-timing-function: step-start;
                        animation-timing-function: step-start;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    }
    .selectBoxOption {
        border-radius: 5px;
        width: 148px;
        display: block;
        margin: 5px;
        padding: 8px 15px;
        background-color: #EDEDED;
    }
    .selectBoxOption:hover, .selectBoxOption:focus {
        color: #546c84;
        background-color: #fbfbfb;
    }
    
    @-webkit-keyframes HideList {
        from {
            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
        }
        to {
            -webkit-transform: scaleY(0);
                            transform: scaleY(0);
        }
    }
    
    @keyframes HideList {
        from {
            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
        }
        to {
            -webkit-transform: scaleY(0);
                            transform: scaleY(0);
        }
    }
    
    .greenStatus {
        background-color: #21B54D;
    }
    .redStatus {
        background-color: #CF3C3C;
    }
    .blueStatus {
        background-color: #6DB9FF;
    }
    .yellowStatus {
        background-color: #FFE146;
    }
    .orangeStatus {
        background-color: #FF9F46;
    }