@import "../../variables";

.section1 {
    width: 80%;
    margin: 0px auto 0 auto;

    display: inline-flex”;
    // flex-wrap: wrap;
    // flex: 1 1 345px;
    justify-content: space-between;
    align-items: center;
}

.section2 {
    width: 80%;
    margin: 0px auto 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 3px solid red;
}

.boxChild1 {
    // background-color: whitesmoke;
    flex: 1 1 400px;
    padding: 10px;

    h3 {
        margin: 25px 0px 10px 0px;
    }
}

.boxChild2 {
    // background-color: pink;
    flex: 1 1 400px;
    padding: 15px;

    h3 {
        margin: 25px 0px 10px 0px;
    }
}

.wrapTable {
    padding: 30px 35px;
    border: 1px solid #009473;
    border-radius: 5px;
    // column-count: 100px;

}

.tableCustom {
    border-collapse:collapse;
    width: 100%;
    padding: 8px 5px;

    th {
        padding: 8px 5px;
    }

    tr td {
        padding: 8px 5px;
    }
}

.textCenter {
    text-align: center;
}

.textCenterMobileNewRow {
    display: none;
    text-align: right;
    // column-span: 3;
}


.textLeft {
    text-align: left;
}

.borderBottom {
    border-bottom: 1px solid #009473;
}

.borderTop {
    border-top: 1px solid #009473;
}

.containerRow {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerRowCart {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 3px solid blue;
}

.containerCol {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.productPreview {
    width: 42px;
    height: 42px;
    margin: 0px 10px 0px 0px;
}

.name {
    font-size: 1rem;
    padding: 0px 0px;
}

.desciption {
    font-size: 0.75rem;
    color: #5f5f5f;
    padding: 0px 0px;
}

.boxRadiusSmall {
    padding: 10px;
    border: 1px solid #009473;
    border-radius: 5px;
    margin: 2px 10px;
    cursor: pointer;
    align-items: center;

    .dateReceiveDesciption {
        font-size: 0.7rem;
        padding: 0px;
        color: #000000;
    }

    .dateReceive {
        font-size: 1.0rem;
        padding: 0px;
        font-weight: bold;
        // color: #009473;
    }

    .price {
        font-size: 0.75rem;
        padding: 0px;
        // color: #009473;
    }
}

.deactive {
    background-color: white;
    div {
        color: #009473;
    }
}

.deactive:hover {
    div {
        color: white;
    }
}

.boxRadiusSmall:hover {
    background-color: #009473;
    color: white;
}

.logoBank {
    border-radius: 80%;
    width: 42px;
    height: 42px;
}

.containerColBank {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 0px 10px;
}

.buttonNext {
    background-color: #009473;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    font-size: 0.7rem;
}

.buttonGreen {
    background-color: #009473;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
}

.contentDisplayBlock {
    display: block;
}

.contentDisplayNone {
    display: none;
}

.flexNoWrap {
    flex-wrap: nowrap;
}

.selectBoxInput {
    display: none;
}

.selectBoxInput:checked + .selectBoxInputText {
    display: block;
}

.selectBoxOption {
    display: block;
    padding: 0px;
}

.selectBoxList{
    display: flex;
    flex-direction: row;
}

.selectBoxCurrent:focus + .selectBoxList .selectBoxOption {
    cursor: pointer;
}

.optionShipping {
    list-style-type: none;
}

.btnShippingOption {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #009473;

    padding: 10px;
    margin: 5px 10px;

    font-size: 12px;

    text-align: left;

    h4 {
        float: left;
        font-size: 16px;
        color: #009473;
    }
}

.btnShippingOption:hover {
    background-color: #009473;
    h4{
        color: white;
    }
}
.active {
    background-color: #009473;
    div, h4 {
        color: white;
    }
}


// https://asia-east2-digitalwish-sticker.cloudfunctions.net/cart)
@media only screen and (max-width: 420px) {
    .containerColBank {
        font-size: 0.75rem;
    }

    .selectBoxList{
        flex-wrap: wrap;
    }

    .borderBottom {
        display: none;
    }

    .wrapTable {
        padding: 10px 15px;
    }

    .textCenterMobile {
        display: none;
    }

    .tableCustom {
        tr td {
            margin: 0px;
            width: 100%;
            padding: 8px 0px;
        }
        .rowTr {
            padding: 0px
        }
        .textCenterMobileNewRow {
            font-size: 0.85rem;
            display: table-cell;
        }
    }
}