@import "../../variables";

.wrap_content {
    display: flex;
    justify-content: center;
    align-items: center;
    .square {
        height: 510px;
        width: 566px;
        background-color: #EDEDED;
        margin-right: 50px;
      }
}
