@import "../../variables";

.wrapContent {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .square {
      height: 510px;
      width: 566px;
      background-color: #EDEDED;
      margin-right: 50px;
  }
  
  .rightContent {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 240px;
    
    .label {
      color: #009473;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .buttonUploadFile {
      color: #000000;
      border: 0.5px solid #009473;
      border-radius: 2px;
      padding: 5px 20px;
      margin-bottom: 4vh;
      svg {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }

    input[type=file] {
      display: none;
    }

    textarea {
      border: 0.5px solid #009473;
      resize: none;
    }
  }
}

.link {
  text-decoration: none;
  .btnCart {
    background-color: #009473;
    border: none;
    border-radius: 2px;
    color: white;
    margin-top: 3vh;
    padding: 8px 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    svg {
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }
  }
}

@media only screen and (max-width: 810px) {
      .wrapContent {
        .square {
          height: 410px;
          width: 466px;
        }
      }
}


@media only screen and (max-width: 650px) {
      .wrapContent {
        .square {
          margin-right: 0;
        }
      }
}


.selectBox {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  color: black;
  border: 0.5px solid #009473;
}

.selectBoxCurrent {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.selectBoxCurrent:focus + .selectBoxList {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}
.selectBoxCurrent:focus + .selectBoxList .selectBoxOption {
  cursor: pointer;
}
.selectBoxCurrent:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.selectBoxValue {
  display: flex;
}
.selectBoxValue svg {
  position: absolute;
  left: 216px;
  top: 10px;
  width: 11px;
  height: 11px;
}
.selectBoxInput {
  display: none;
}
.selectBoxInput:checked + .selectBoxInputText {
  display: block;
}
.selectBoxInputText {
  display: none;
  width: 100%;
  margin: 0 0 0 30px;
  padding: 7px 15px;
  background-color: #fff;
}
.selectBoxInputText i {
  font-size: 18px;
  padding-right: 10px;
  margin-left: 5px;
}
.selectBoxInputText .positionIcon {
  left: 14px;
  top: 7px;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
.selectBoxList {
  margin: 0;
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.selectBoxOption {
  display: block;
  padding: 10px 15px;
  background-color: #EDEDED;
}
.selectBoxOption:hover, .selectBoxOption:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
