@import "../../variables";
@import "../common-scss/common.module.scss";


// $atPageWidth01: 768;

// .pageContainer {

//     // Contain page content 

//     padding: 30px 10vw 0 5vw; // Follow NavBar

//     @media screen and (min-width: 768px){  // width < 768
//         margin: 30px auto 0px auto;
//         padding: 10px;
//     }

//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     align-content: space-between;

//     max-width: 1050px;

//     h2 {
//         margin-bottom: 20px;
//         font-family: SarabunRegular;
//         font-weight: normal;
//     }

//     h3 {
//         font-family: SarabunRegular;
//         font-weight: normal;
//     }

// }

// @mixin conditionalFlexing {

//     // Ensure the component isn't squeezed before wrapping

//     @media screen and (max-width: $atPageWidth01){
//         flex-direction: column;
//     }
//     @media screen and (min-width: $atPageWidth01){
//         flex-direction: row;
//     }
// }

// @mixin conditionalWidth {

//     // Fix component size when screen is large otherwise 100%

//     @media screen and (max-width: $atPageWidth01){
//         width: 100%;
//     }
//     @media screen and (min-width: $atPageWidth01){
//         width: 450px;
//     }
// }

// @mixin conditionalPadding {

//     // Different padding when there are 2 columns

//     @media screen and (max-width: $atPageWidth01){
//         padding: 15px;
//     }
//     @media screen and (min-width: $atPageWidth01){
//         padding: 0px 35px;
//     }
// }

// .testExists {
//     padding: 200px;
//     border-color: red;
//     border-radius: 5px;
// }

// .flexWrapper{
//     @include conditionalFlexing();

//     display: flex;
//     flex-wrap: wrap;
//     justify-content: left;
//     align-items: flex-start;
//     width: 100%;
// }


// .loginCredentials {
//     @include conditionalWidth;

//     @media screen and (min-width: 768) {
//         flex: 1 0 430px;
//     }
//     @media screen and (max-width: 767) {
//         flex: 1 0 100%;
//     }

//     // flex: 1 0 100%;
//     padding: 30px 35px;
//     margin: 0px 0px 30px 0px;
//     border: 1px solid #009473;
//     border-radius: 5px;
// }

// .userInfo {
//     // @include conditionalPadding();

//     @media screen and (min-width: 768) {
//         flex: 1 0 540px;
//         padding: 0 5vw;
//     }
//     @media screen and (max-width: 768) {
//         flex: 1 0 100%;
//     }

//     // flex: 0 0 100%;

//     // Override default behavior
    
//     div { // Reason: Does not align with button
//         margin: 0;
//     }

// }

.greenButton{
    margin-top: 20px;
    width: 123px;
height: 36px;
    color:white;

    border: none;
    background: #009473;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}