@import "../../variables";

.wrapContent {
    padding: 3vh 10vw;

    .inputGreen {
        width: 250px;
        padding: 10px;
        border: 1px solid #009473;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    .btnGreen {
        margin: 0 0 20px 10px;
        width: 150px;
        height: 40px;
        color: white;
        background-color: #009473;
        border: none;
        border-radius: 5px;
    }
    
    .title {
        font-size: 20px;
    }

    label {
        display: inline-block;
    }

    .stepProgressBar {
        display: flex;
        margin: -5vh 0 5vh 0;
    }

    .waitApproval {
        border-radius: 17px;
        background-color: #FF9F46;
        padding: 5px 20px;
        font-size: 12px;
        margin-bottom: 3vh;
    }

    .previewImage {
        margin-top: 4vh;
        display: flex;
        flex-wrap: wrap;
    }

    .groupDeliveryPayment {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // border: 1px solid #009473;
        border-radius: 20px;
        padding: 30px 40px;
        margin-top: 8vh;
    }
}

.textRight {
    text-align: right;
}

@media only screen and (max-width: 900px) {
    .wrapContent .groupDeliveryPayment .groupDelivery {
        flex-basis: 100%;
    };

    .wrapContent .groupDeliveryPayment .groupPayment {
        flex-basis: 100%;
    };
}