.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // border: 3px solid red;
    overflow-x: scroll;
}
.section1::-webkit-scrollbar {
    display: none;
  }

.wrapContent {
    padding: 3vh 10vw;
}

.title {
    font-size: 20px;
}

.productOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cardProductOption {
    width: 15%;
    min-width: 150px;
    margin: 0 5% 10px 0;
    
    h4 {
        color: #009473;
        margin-bottom: 10px;
    }

    .btnRow {
        display: flex;
        flex-direction: row;
    }

    .btnOption, .btnListOption, .btnListOption90, .btnEdit {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        width: 100%;
        
        padding: 8px 0px;

        border: 1px solid #009473;
        background-color: white;
        border-radius: 3px;

        margin-bottom: 10px;
        font-size: 14px;
    }

    .btnListOption90 {
        width: 75%;
    }

    .btnEdit {
        padding: 3px 3px;
        width: 25%;
    }

    .btnOption:hover, .btnListOption:hover, .active {
        border: 1px solid #009473;
        background-color: #009473;
        color: white;
    }

    .btnEdit:hover {
        background-color: red;
        color: white;
    }

    .btnListOption {
        width: 100%;
    }

    .iconImage {
        width: 20px;
        margin-right: 10px;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

.floatRight {
    text-align: right;
}

.addOption {
    background-color: white;
    padding: 5px 20px;
    border: 1px solid #009473;
    margin-right: 5px;
}
.addOption:hover {
    color: white;
    background-color: #009473;
    border: 1px solid #009473;
}

.removeOption {
    background-color: white;
    padding: 5px 20px;
    border: 1px solid red;
    margin-right: 5px;
}
.removeOption:hover{
    color: white;
    background-color: red;
    border: 1px solid red;
}

.editOption {
    background-color: white;
    padding: 5px 20px;
    border: 1px solid orange;
    margin-right: 5px;
}
.editOption:hover{
    color: white;
    background-color: orange;
    border: 1px solid orange;
}

.rowInModal {
    margin: 5px;

    .text {
        font-size: 14px;            
        padding: 5px;
        width: 100%;
    }
}

.close {
    width: fit-content;
    margin: 0 0 0 auto;
    cursor: pointer;
    float: right;
  }

  .label {
    color: #009473;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .buttonUploadFile {
    color: #000000;
    border: 0.5px solid #009473;
    border-radius: 2px;
    padding: 5px 20px;
    width: 100%;
    svg {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }

  input[type=file] {
    display: none;
  }
