@import "../../variables";

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    // background-color: #2196F3;
    // padding: 10px;
}


// .gridItem {
//    // Empty
// }


.formControl {
    margin: 0px 10px;
    // border: 3px solid red;

    p {
        margin: 0px;
        padding-bottom: 5px;
    }
    input {
        border: 1px solid #009473;
        border-radius: 5px;
        height: 30px;
        width: 100%;
        padding: 0px 0px 0px 5px;
    }
}