// @import "../../variables";

// .navBar {
//     position: relative;
//     height: 97px;
//     padding: 0 $padding 0 5vw;

//     background: #FFFFFF;
//     box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);

//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .navLinks {
//         display: flex;
//         align-items: center;

//         list-style: none;

//         a {
//             box-shadow: 0px 9px 22px rgba(0, 0, 0, 0.25);
//             border-radius: 5px;
            
//             padding: 7px 10px;
//             margin: 0.5vw;

//             font-size: 12px;
//             font-style: normal;
//             font-weight: normal;
//             text-decoration: none;

//             color: #000000;

//             &:hover{
//                 color: $hover-color;
//             }

//             svg {
//                 margin-right: 5px;
//             }
//         }

//         button {
//             width: 144px;
//             height: 50px;

//             // margin-left: 0.5vw;

//             cursor: pointer;
//             background: #FFFFFF;
//             border: 2px solid #009473;
//             border-radius: 12px;

//             a{
//                 margin: 0;
//             }
//         }
//     }
// }

// .burger {
//     display: none;
//     cursor: pointer;
//     div {
//         width: 25px;
//         height: 3px;
//         background-color: $top-bar-color;
//         margin: 5px;

//         transition: all 0.25s ease;
//     }
// }


// @media screen and (max-width: 768px){
//     // body {
//     //     overflow-x: hidden;
//     // }

//     .navBar{
//         // justify-content: space-around;

//         // display:flex;

//         .navLinks {
//             // border: 5px solid yellow;
//             // align-items: start;
//             position: absolute;
//             width: 100vw;
//             // left: 0px;
//             top: 0px;
//             right: 0px;
//             height: calc(100vh - 97px - 39px);
//             height: calc(100vh - 39px);
//             opacity: 1;
            
            
//             z-index: 1;
//             // top: 136px;
//             // top: 97px;

//             background-color: #FFF;
//             background-color: #009473;
//             background-color: rgba(0, 148, 115, 0.9);

//             display: flex;
            
//             flex-direction: column;
//             justify-content: space-around;
//             align-items: center;

//             transform: translateX(100%);
//             transition: transform 0.25s ease-out;
//             transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

//             // li {
//             //     opacity: 0;
//             // }
//             a {
//                 color: #FFF;
//             }
//             button a {
//                 color: #000;
//             }
            
            
//         }

//         .burger {
//             display: block;
//         }

//         .navActive {
//             transform: translateX(0%);
//         }

//         .navInactive {
//             // https://stackoverflow.com/a/3695826
//             // Read ~2 answers for understanding and comparison
//             // tl;dr: display = gone entirely; visibility = invisible but presents
//             display: none;
//         }

//     }
    
// }

// .toggle .line1 {
//     background-color: #FFF;
//     transform: rotate(-45deg) translate(-5px,6px);
// }
// .toggle .line2 {
//     opacity: 0;
// }
// .toggle .line3 {
//     background-color: #FFF;
//     transform: rotate(45deg) translate(-5px,-6px);
// }















@import "../../variables";

.navBar {
    position: relative;
    height: 97px;
    padding: 0 $padding 0 5vw;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleNavBar {
        color: #009473;
        cursor: pointer;
    }

    .navLinks {
        display: flex;
        align-items: center;

        list-style: none;

        a {
            box-shadow: 0px 9px 22px rgba(0, 0, 0, 0.25);
            border-radius: 5px;

            padding: 7px 10px;
            margin: 0.5vw;

            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;

            color: #000000;

            &:hover{
                color: $hover-color;
            }

            svg {
                margin-right: 5px;
            }
        }

        // button {
        //     width: 144px;
        //     height: 50px;

        //     // margin-left: 0.5vw;

        //     cursor: pointer;
        //     background: #FFFFFF;
        //     border: 2px solid #009473;
        //     border-radius: 12px;

        //     a{
        //         margin: 0;
        //     }
        // }
    }
}

.burger {
    display: none;
    cursor: pointer;

    z-index: 1;

    div {
        // z-index: 2;
        width: 25px;
        height: 3px;
        background-color: $top-bar-color;
        margin: 5px;

        transition: all 0.25s ease-in-out;

    }
}


@media screen and (max-width: 768px){
    // body {
    //     overflow-x: hidden;
    // }

    .navBar{
        // justify-content: space-around;

        // display:flex;

        .navLinks {
            // border: 5px solid yellow;
            // align-items: start;
            position: absolute;
            width: 100vw;
            // left: 0px;
            top: 0px;
            right: 0px;
            height: calc(100vh - 97px - 39px);
            height: calc(100vh - 39px);
            opacity: 1;
            
            
            z-index: 1;
            // top: 136px;
            // top: 97px;

            background-color: #FFF;
            background-color: #009473;
            background-color: rgba(0, 148, 115, 0.9);

            display: flex;
            
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            transform: translateX(100%);
            transition: transform 0.25s ease-out;
            transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            // li {
            //     opacity: 0;
            // }
            a {
                color: #FFF;
            }
            button a {
                color: #000;
            }
            
            
        }

        .burger {
            display: block;
        }

        .navActive {
            transform: translateX(0%);
        }

        .navInactive {
            // https://stackoverflow.com/a/3695826
            // Read ~2 answers for understanding and comparison
            // tl;dr: display = gone entirely; visibility = invisible but presents
            display: none;
        }

    }
    
}

.toggle .line1 {
    background-color: #FFF;
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    background-color: #FFF;
    transform: rotate(45deg) translate(-5px,-6px);
}
