@import "../../variables";

.banner {
    
    width: 100%;
    height: auto;
    // height: 50vh;
}

.section1 {
    // border: 2px solid red;

    width: 80%;
    margin: 40px auto 0 auto;

    display: flex;
    // flex-wrap: wrap;
    // flex: 1 1 345px;
    justify-content: space-between;
    // align-items: center;

    // flex-direction: column;

    // @media screen and (max-width: 768) {
    //     flex-direction: column;
    // }

    .horizontalScroller {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // min-width: 700px;
        // overflow-x: scroll;
        
        flex-direction: row;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        padding: 10px;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .horizontalScroller::-webkit-scrollbar {
        display: none;
    }

    button{

        width: 25vw;
        @media screen and (max-width: 768px){
            // width: 180px;
            width: 100%;
            margin: 5px 0;
            min-width: 180px;
            // margin: 0 20px;
        }
        // height: 10vh;
        height: 88px;

        font-size: $home-s1-font-size;

        display: flex;
        // flex: 0 0 25vw;
        justify-content: center;
        align-items: center;

        background: #FFFFFF;
        border-style: none;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        svg{
            margin-right: 0.5vw;
        }
    }
}

.section2 {

    display:flex;
    flex-direction: column;
    // justify-content: center;    
    align-items: center;

    margin: 63px 0 70px 0;

    // h2 {
    //     font-size: 24px;
    // }

    // // 4 step Elements
    // .stepsOrder {
    //     position: relative;
    //     width: 80%;
    //     height: 280px;
    //     margin: 0px auto 60px auto;
        
        

    //     display: flex;
    //     justify-content: center;

    //     // Horizontal Ruler
    //     &::before {
    //         content: '';
    //         position: absolute;
    //         height: 8px;
    //         width: 742px;
    //         //   width: 6px;
    //         background-color: #009473;
    //         box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    //         top: 127px;
    //         bottom: 0;
    //         left: calc(50% - 742px/2);
    //         //   margin-left: -3px;
    //     }


    //     li {
    //         position:relative;
    //         display: flex;
    //         flex-shrink: 0;
    //         width: 290px;
    //         justify-content: center;

    //         span{
    //             content: "";
    //             position: absolute;
    //             top: calc(127px - 200px/2);
    //             width: 200px;
    //             height: 200px;
                
    //             border-radius: calc(200px/2);
                
    //             display: block;
    //             background: #FFFFFF;
    //             border: 3px solid #009473;
    //             box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

    //             svg {
    //                 position: relative;
    //                 top: calc(127px - 200px/4);
    //                 left: calc(100px - 42px/2);
    //             }
    //         }

    //         p{
    //             position: absolute;
    //             top: 247px;
    //             font-size: 18px;
    //         }
    //     }
    // }
    a {
        color: #FFF;
    }

    @media screen and (min-width: 1000px){
        // 4 step Elements
        .stepsOrder {
            position: relative;
            // width: 80%;
            width: 1000px;
            height: 280px;
            margin: 0px auto 60px auto;
            
            

            display: flex;
            justify-content: center;

            // Horizontal Ruler
            &::before {
                content: '';
                position: absolute;
                height: 8px;
                width: 742px;
                //   width: 6px;
                background-color: #009473;
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
                top: 127px;
                bottom: 0;
                left: calc(50% - 742px/2);
                //   margin-left: -3px;
            }


            li {
                position:relative;
                display: flex;
                // flex-shrink: 0;
                width: 290px;
                justify-content: center;

                span{
                    position: absolute;
                    top: calc(127px - 200px/2);
                    width: 200px;
                    height: 200px;
                    
                    border-radius: calc(200px/2);
                    
                    display: flex;
                    background: #FFFFFF;
                    border: 3px solid #009473;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

                    svg {
                        margin: auto;
                    }
                }

                p{
                    position: absolute;
                    top: 247px;
                    font-size: 18px;
                }
            }
        }
        
        
    }

    @media screen and (max-width: 1000px){
        // 4 step Elements
        .stepsOrder {
            position: relative;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items:center;

            // Vertical Ruler
            &::before {
                content: '';
                position: absolute;
                height: 600px;
                width: 8px;
                z-index: -1;
                //   width: 6px;
                background-color: #009473;
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
                top: 100px;
                bottom: 0;
                // left: calc(50% - 742px/2);

                // 50% - (span_width[svg_radius]+p_width)/2 + svg_radius/2)
                // = 50% - p_width/2
                left: calc(50% - 30vw/2);
                //   margin-left: -3px;
            }

            li {
                display: flex;
                height: 200px;
                // width: 320px;

                align-items: center;
                justify-content: center;
                
                span{
                    
                    flex-shrink: 0;

                    width: 150px;
                    height: 150px;
                    border-radius: calc(200px/2);

                    display: flex;

                    border: 3px solid #009473;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

                    svg{
                        margin: auto;
                    }
                }

                p{
                    // width: 160px;
                    padding-left: 10px;
                    width: 30vw;
                    text-align:center;
                }
            }
            
        }
        
    }



    button {
        width: 299px;
        height: 77px;

        color: #FFFFFF;
        font-size: 24px;

        background: #009473;
        border: 0.5px solid #009473;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            margin-right: 8px;
        }
    }
}

.section3Title {
    background: #009473;
    // padding-top: 2vh;
    // height: 491px;
    // display: flex;
    // flex-direction: column;
    // overflow-x: scroll;
    h2 {
        color: #FFFFFF;
        font-family: SarabunBold;
        font-size: calc(16px + 0.5vw);
        text-align: center;

        padding: 30px 0px;
        // font-weight: normal;

    }
}

.section3 {
    background: #009473;
    // padding-top: 2vh;
    padding-bottom: 8vh;
    // height: 491px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    

    h2 {
        color: #FFFFFF;
        font-family: SarabunBold;
        font-size: calc(16px + 0.5vw);
        text-align: center;

        margin-top: 30px;
        margin-bottom: 30px;
        // font-weight: normal;

    }
    .cardWrapper {
        display:flex;
        // flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        // margin:auto;
        justify-content: center;
    }
    .card {
        min-width: 220px;
        width: 237px;
        height: 310px;
        margin: 10px;
        padding-top: 24px;

        background: #FFFFFF;
        box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.25);
        border-radius: 35px;

        font-size: 18px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position:relative;

        button {
            position:absolute;
            top: 250px;
            width: 65px;
            height: 28px;

            font-size: 12px;
            cursor: pointer;

            border: 2px solid #009473;
            box-sizing: border-box;
            border-radius: 6px;
            background: #FFFFFF;
        }
        
    }
}

.section3::-webkit-scrollbar {
    display: none;
  }
  
.section4 {
    // border: 2px solid red;
    max-width: 800px;
    margin: auto;

    margin-top: 40px;
    margin-bottom: 60px;

    display:flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;

    svg{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        width: 320px;
        max-width: 320px; 
        height: auto;
    }
    div{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 50%;


        font-size: 14px;
        h2 {
            font-size: 24px;
            margin-bottom: 10px;

            max-width: 80vw;
            margin: auto;
        }

        p {
            max-width: 80vw;
            margin: auto;
        }
    }
}

.orderButton {
    width: 251px;
    height: 70px;
    margin: 60px auto;

    cursor: pointer;

    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-style: none;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    svg{
        margin-right: 8px;
    }

    a{
        color: #000;
    }
}