.cardOval {
    background-color: #009473;
    color: #ffffff;
    display: inline-block;
    padding: 15px 0px 15px 20px;
    border-radius: 30px;
    margin: 0 10px 10px 0;
    width: 150px;

    p {
        font-size: 12px;
        margin-bottom: 4px;
    }
    h3 {
        margin: 0;
    }
}

.containerKPI {
    display: flex;
    flex-direction: row;
}
.buttonList {
    margin: 10px 10px 10px 0;
    border: 1px solid #009473;
    border-radius: 15px;
    background-color: #009473;
    color: white;
    padding: 8px 15px;
}