@import "../../variables";

.footerBar {
    align-items: center;
    bottom: 0;
    background: $top-bar-color;
    color: #FFFFFF;
    display:flex;
    height: 30px;
    justify-content: center;
    font-size: calc(40% + 0.5vw);
};

.bgFooter {
    background-image: url('./bg-footer.svg');
    // background-size: 100%;
    padding-bottom: 1%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    .banner {
        flex-basis: 150px;
        // padding-left: 10%;
    }
    ul {
        flex-basis: 40%;
        list-style-type: none;
        padding: 2vw 0 0 0vw;
        li {
            // font-size: calc(8px + 0.5vw);
            margin-bottom: calc(1% + 0.1vw);
        };
    };
    .colQrCode {
        flex-basis: 150px;
        padding: 2vw 0 0 0vw;
        svg {
            margin-left: 20px;
        }
    }

    .listContract {
        flex-basis: 10%;
        padding: 2vw 0 0 2vw;
        .squareLine, .squareFace, .squareEmail {
            display:flex;
            align-items: center;
            height: 30px;
            background-color: #21B54D;
            border-radius: 25px;
            color: white;
            padding: 3px 10px;
            font-size: 14px;
            position: relative;
    
            .squareWhite {
                display:flex;
                align-items: center;
                justify-content: center;
                background-color: #FFFFFF;
                height: 25px;
                border-radius: 25px;
                color: black;
                padding: 0 10px;
                margin-left: 5px;
            }
        }

        .squareFace {
            background-color: #1774EB;
    
            .squareWhite {
                width: 120px;
                margin-left: 20px;
            }
        }

        .squareEmail {
            background-color: #000000;
    
            .squareWhite {
                margin-left: 13px;
            }
        }
    }
};

@media only screen and (max-width: 950px) {
    .listContract {
        display: none;
    }
}