.newMsg {
    display: flex;
    
    float: right;   

    flex-direction: row;
    align-items: center;

    padding: 10px;
}

.flexEnd {
    justify-content: flex-end;
}

.flexStart {
    justify-content: flex-start;
}

.massage {
    padding: 7px 10px;

    background-color: #009473;
    border-radius: 5px;

    font-size: 14px;
    margin-right: 10px;
}

.fileMsg {
    padding: 5px 10px;
    
    background-color: #ffffff;
    border-radius: 5px;

    margin-right: 5px;
    font-size: 12px;
}

.dowloadFileMsg {
    cursor: pointer;
    
    font-size: 10px;
}

.massageTypeFile {
    padding: 7px 10px;

    background-color: #009473;
    border-radius: 5px;

    font-size: 14px;
    margin-right: 10px;
}

.groupUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        width: 30px;
        height: 30px;
    }
    p {
        margin-top: 5px;
        font-size: 12px;
    }
}



.inputGreen {
    width: 250px;
    padding: 10px;
    border: 1px solid #009473;
    border-radius: 5px;
    margin-bottom: 20px;
}

.square {
    border-radius: 5px;
    width: 60%;
    min-width: 300px;
    height: 300px;
    background-color: #EDEDED;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.inputBox {
    padding: 7vh 2vw 0vh 2vw;
    width: 200px;
    button {
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
        color: white;
        background-color: #009473;
        border: none;
        border-radius: 5px;

        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .btnGroup {
        display: inline-flex;

        input[type=file] {
            display: none;
          }
          
        button, .btnCustomWidth {
            width: auto;
            height: auto;
            padding: 10px 20px;
            background-color: white;
            color: black;
            font-size: 14px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-right: 10px;
        }

        .btnCustomWidth {
            width: 120px;
            height: fit-content;
        }
    }
}

@media only screen and (max-width: 321px) {
    .square {
        min-width: 260px;
    }
}