.centerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    img {
        margin: 50px auto;
    }
}
.btnToMyorder {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #009473;
    padding: 10px;
}