@import "../../variables";





.formControl {
    margin: 5px 10px;
    // border: 3px solid red;

    p {
        margin: 0px;
        padding-bottom: 5px;
    }

    input {
        border: 1px solid #009473;
        border-radius: 5px;
        height: 30px;
        width: 100%;
        padding: 0px 0px 0px 5px;
    }
}


.buttonWhile {
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    font-size: 0.7rem;
}


.buttonGreen {
    background-color: #009473;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    font-size: 0.7rem;
}

.containerRow {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 3px solid blue;
}
.containerCol {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buttonBlue {
    background-color: #1774EB;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    font-size: 0.7rem;
}




.smallText {
    margin: 20px 0px;
    font-size: 0.9rem;
}